html, body {
    height: 100%;
}

.ng-invalid.ng-dirty{
    border-color: red;          
}
.ng-valid.ng-dirty{
   border-color:green ;                  
}

.small-images{
	width: 50px;
}
ul.img-thumbnails{
    margin-left: -40px;
}