<section>
    <ul class="nav nav-pills">
        <li ng-class="{ active:tab.isSet(1) }">
            <a href ng-click="tab.setTab(1)">Patient Demographics</a>
        </li>
        <li ng-class="{ active:tab.isSet(2) }">
            <a href ng-click="tab.setTab(2)">Health Dept. Report</a>
        </li>
        <li ng-class="{ active:tab.isSet(3) }">
            <a href ng-click="tab.setTab(3)">Nutrition Assessment</a>
        </li>
    </ul>

    <div class="col-md-2" style="margin-top: 15px;">
        <img class="img-responsive" ng-src="{{nutrition.images2}}">
        <h6>{{nutrition.name}} </h6>
    </div>

    <div class="col-md-10">
        <!--  nutrition health Tab's Content  -->
        <nutrition-description ng-show="tab.isSet(1)"></nutrition-description>

        <!--  nutrition health report Tab's Content  -->
        <nutrition-health-report ng-show="tab.isSet(2)"></nutrition-health-report>

        <!--  Add nutrition Tab's Content  -->
        <nutrition-update ng-show="tab.isSet(3)"></nutrition-update>
    </div>
</section>
