<form name="reviewForm"  ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(nutrition)" novalidate>
    <div class="col-md-8">
        <h4>Submit Assessment</h4>
        <fieldset class="form-group">
            <select class="form-control" ng-model="reviewCtrl.review.assessment_type" ng-options="option as option for option in ['Appetite', 'Food avoidances', 'Food intolerances']" ng-init="assessment_type='Select Assessment type'">
            </select>
        </fieldset>
        <fieldset class="form-group">
            <input ng-model="reviewCtrl.review.ndate" type="date" class="form-control" required/>
        </fieldset>
        <fieldset class="form-group">
            <textarea ng-model="reviewCtrl.review.body" class="form-control" required></textarea>
        </fieldset>
        <fieldset class="form-group">
            <div>reviewForm is {{reviewForm.$valid}}</div>
            <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
        </fieldset>
    </div>
    
    <div class="col-md-4">
        <blockquote>
            <strong>{{reviewCtrl.review.assessment_type}} </strong>
            <br>{{"&nbsp &nbsp &nbsp" + reviewCtrl.review.body}}
            <br><cite class="clearfix">{{"&nbsp &nbsp &nbsp" + reviewCtrl.review.ndate | date}} 
            {{review.createdOn | date}}</cite>
        </blockquote>
        <hr>
        <blockquote ng-repeat="review in nutrition.reviews">
            <strong>{{review.assessment_type}}</strong>
            <br>{{"&nbsp &nbsp &nbsp" + review.body}}
            <br><cite class="clearfix">{{"&nbsp &nbsp &nbsp" +  review.ndate | date}}</cite>
        </blockquote>

    </div>
</form>


